In [1]:
import FundamentalAnalysis as fa

ticker = "AAPL"
api_key = "d2b83a9cbe59bd13f8c7615015e41b0e"

In [2]:
# Show the available companies
companies = fa.available_companies(api_key)

In [3]:
companies

,name,price,exchange
symbol,,,
SPY,SPDR S&P 500,325.1200,NYSE Arca
CMCSA,Comcast Corporation Class A Common Stock,43.9000,Nasdaq Global Select
KMI,Kinder Morgan Inc.,14.5300,New York Stock Exchange
INTC,Intel Corporation,48.0700,Nasdaq Global Select
MU,Micron Technology Inc.,50.3900,Nasdaq Global Select
...,...,...,...
PSACU,PSACU,10.0000,NasdaqGS
SRGA,SRGA,2.9850,NasdaqGS
VWID,VWID,26.1602,BATS
FJUL,FJUL,30.5500,BATS
DJUL,DJUL,30.4046,NYSE

In [4]:
# Collect general company information
profile = fa.profile(ticker, api_key)

In [5]:
profile

                                                                   0
symbol                                                          AAPL
price                                                         380.16
beta                                                          1.2285
volAvg                                                      34784449
mktCap                                                 1647738880000
lastDiv                                                         3.13
range                                                  192.58-399.82
changes                                                         7.15
companyName                                               Apple Inc.
exchange                                        Nasdaq Global Select
exchangeShortName                                             NASDAQ
industry                                        Consumer Electronics
website                                         http://www.apple.com
description        Apple Inc. designs, manufactures, and markets ...
ceo                                              Mr. Timothy D. Cook
sector                                                    Technology
country                                                United States
fullTimeEmployees                                             137000
phone                                                   408-996-1010
address                                           One Apple Park Way
city                                              One Apple Park Way
state                                                             CA
zip                                                            95014
dcfDiff                                                        89.92
dcf                                                           297.11
image              https://financialmodelingprep.com/image-stock/...

In [6]:
# Collect recent company quotes
quotes = fa.quote(ticker, api_key)

In [7]:
quotes

                                                 0
symbol                                        AAPL
name                                    Apple Inc.
price                                       380.16
changesPercentage                             1.92
change                                        7.15
dayLow                                      374.85
dayHigh                                     380.92
yearHigh                                    399.82
yearLow                                     192.58
marketCap                              1.64774e+12
priceAvg50                                 367.715
priceAvg200                                312.894
volume                                    22582314
avgVolume                                 34784449
exchange                                    NASDAQ
open                                           375
previousClose                               373.01
eps                                         12.728
pe                                          29.868
earningsAnnouncement  2020-07-30T16:00:00.000+0000
sharesOutstanding                       4334329966
timestamp                               1596068427

In [8]:
# Collect market cap and enterprise value
entreprise_value = fa.enterprise(ticker, api_key)
entreprise_value

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
symbol,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
stockPrice,249.05,212.24,166.72,117.65,115.28,105.11,75.7,86.29,57.97,44.12,28.93,13.16,26.44,11.49,8.11,3.4,1.61,1.12,1.26
numberOfShares,4617834000,4955377000,5217242000,5470820000,5753421000,6085572000,925331000,934818000,924258000,909461000,893016000,881592000,864595000,808439000,808439000,371590000,360631000,355022000,345613000
marketCapitalization,1150071557700,1051729214480,869818586240,643641973000,663254372880,639654472920,70047556700,80665445220,53579236260,40125419320,25834952880,11601750720,22859891800,9288964110,6556440290,1263406000,580615910,3.97625e+08,435472380
minusCashAndCashEquivalents,48844000000,25913000000,20289000000,20484000000,21120000000,13844000000,14259000000,10746000000,9815000000,11261000000,5263000000,11875000000,9352000000,6392000000,3491000000,2969000000,3396000000,2252000000,2310000000
addTotalDebt,102067000000,102519000000,12992000000,7000000000,5000000000,35295000000,16960000000,0,0,0,0,0,0,0,0,0,0,316000000,317000000
enterpriseValue,1203294557700,1128335214480,862521586240,630157973000,647134372880,661105472920,72748556700,69919445220,43764236260,28864419320,20571952880,-273249280,13507891800,2896964110,3065440290,-1705594000,-2815384090,-1538375360,-1557527620

In [9]:
# Show recommendations of Analysts
ratings = fa.rating(ticker, api_key)
ratings

    score recommendation
P/B     5     Strong Buy
ROA     5            Buy
DCF     4            Buy
P/E     5     Strong Buy
ROE     5     Strong Buy
D/E     4     Strong Buy

In [10]:
# Obtain DCFs over time Discountes cash flow
dcf_annually = fa.discounted_cash_flow(ticker, api_key, period="annual")
dcf_quarterly = fa.discounted_cash_flow(ticker, api_key, period="quarter")

In [11]:
dcf_quarterly

,2020-07,2020-03,2019-12,2019-09,2019-06,2019-03,2018-12,2018-09,2018-06,2018-03,...,2011-09,2011-06,2011-03,2010-12,2010-09,2010-06,2010-03,2009-12,2009-09,2009-06
date,2020-07-30,2020-03-28,2019-12-28,2019-09-28,2019-06-29,2019-03-30,2018-12-29,2018-09-29,2018-06-30,2018-03-31,...,2011-09-24,2011-06-25,2011-03-26,2010-12-25,2010-09-25,2010-06-26,2010-03-27,2009-12-26,2009-09-26,2009-06-27
Stock Price,380.16,283.17,308.95,249.05,209.68,204.61,156.3,212.24,189.91,165.26,...,57.97,56.93,50.43,48.21,44.12,37.04,38.5,29.01,28.93,22.87
DCF,390.667,292.326,317.958,259.627,220.523,212.684,165.754,217.469,196.296,174.149,...,68.5893,70.0309,67.7739,59.8864,56.5021,47.7311,49.563,32.9429,32.6718,26.7418